.App {
    background: linear-gradient(45deg,#ee9ca7 , #ffdde1);
    
}
.app_input {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.app_input > input {
    margin: 15px;
}