.todo_main {
    margin: 15px;
}

.todo > input {
    margin: 10px;
}
.todo_des {
    text-align: center;
    width: 50%;
    overflow: auto;
}

.todo_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
    bottom: -1;
}

.todo_edit {
    margin-bottom: 5px;
}
